@import 'node_modules/font-awesome/scss/font-awesome.scss';

@mixin font($f-name, $f-style, $f-weight, $f-url) {
  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    src: url($f-url + '.woff2') format('woff2');
    src: url($f-url + '.woff') format('woff');
  }
}
@include font('Open Sans', normal, 300, '../fonts/OpenSans-Light');
@include font('Open Sans', normal, 400, '../fonts/OpenSans-Regular');
@include font('Open Sans', normal, 700, '../fonts/OpenSans-Bold');
@include font('Montserrat', normal, 400, '../fonts/Montserrat-Regular');

$montserrat: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;
$mainfamily: $openSans;
$base-duration: 0.2s;
$base-timing: ease-in;
$base-text: #14161e;
$mobile-bp: 992px;

.btn-reset {
  display: inline-block;
  background-color: transparent;
  border-style: none;
  border-width: none;
  border-color: transparent;
  font-family: $mainfamily;
  transition: all $base-duration $base-timing;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  padding: 0;
  &:focus {
    outline: none;
  }
}
